<div class="plan-container">
    <mat-card class="plan-card">
      <div class="plan-header text-center text-primary">
        <h1>Basic</h1>
        <p>Make the basics strong</p>
      </div>
      <div class="plan-details text-center">
        <p>1 Month plan</p>
        <h2>7,200/- Only</h2>
      </div>
      <button mat-raised-button color="primary" (click)="basic('Basic', 7200)" class="subscribe-button">Start subscription</button>
      <ul class="plan-features">
        <li>One demo class</li>
        <li>Total 48 hrs of classes</li>
        <li>Goal-focused recommendations</li>
        <li>AI-powered coding exercises</li>
      </ul>
    </mat-card>
  
    <mat-card class="plan-card">
        <div class="plan-header text-center text-primary">
            <h1>Acadamic</h1>
            <p>Excell in Academics</p>
          </div>
      <div class="plan-details text-center">
        <p>2 Month plan</p>
        <h2>14,400/- Only</h2>
      </div>
      <button mat-raised-button color="primary" (click)="basic('Academic', 14400)" class="subscribe-button">Start subscription</button>
      <ul class="plan-features">
        <li>One demo class</li>
        <li>Total 96 hrs of classes</li>
        <li>Goal-focused recommendations</li>
        <li>AI-powered coding exercises</li>
        <li>Analytics and adoption reports</li>
      </ul>
    </mat-card>
  
    <mat-card class="plan-card">
        <div class="plan-header text-center text-primary">
            <h1>Acadamic-Pro</h1>
            <p>Ready to go for compentitive exams</p>
          </div>
      <div class="plan-details text-center">
        <p>3 Month plan</p>
        <h2>21,600/- Only</h2>
      </div>
      <button mat-raised-button color="primary" (click)="basic('Academic-Pro', 21600)" class="subscribe-button">Start subscription</button>
      <ul class="plan-features">
        <li>One demo class</li>
        <li>Total 144 hrs of classes</li>
        <li>Goal-focused recommendations</li>
        <li>AI-powered coding exercises</li>
        <li>Advanced analytics and insights</li>
        <li>Dedicated customer success team</li>
        <li>Hands-on tech training with add-on</li>
      </ul>
    </mat-card>
  </div>
  