<div class="container-fluid">
    <div class="row">
<!-- <nav id="sidebarMenu" class="col-md-3 col-lg-3 d-md-block sidebar">
    <div class="position-sticky">
      <ul class="nav flex-column">
        <h3>Course Content</h3>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleSubtopics('gettingStarted')">
            Getting Started
          </a>
          <ul *ngIf="openSubtopics.gettingStarted" class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link">Welcome to the course</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Basics of subjects</a>
            </li>
            <li class="nav-item">
              <a class="nav-link">Why learning important</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="toggleSubtopics('reactBasics')">
            Working with Components
          </a>
          <ul *ngIf="openSubtopics.reactBasics" class="nav flex-column ms-3">
            <li class="nav-item">
              <a class="nav-link" href="#">Working with events</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Rendering listings</a>
            </li>
          </ul>
        </li>
        
      </ul>
    </div>
  </nav> -->
      <!-- Main content -->
      <main class="col-md-9 ms-sm-auto col-lg-9 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Welcome to the course</h1>
        </div>
        <div class="content">
          <img [src]="course.imageUrl" alt="{{ course.courseName }}" class="img-fluid course-image" alt="Introductory Course">
          <h2 class="mt-3 course-title">{{course.courseName}}</h2>
          <p class="course-description">{{course.description}}.</p>
        </div>
      </main>
    </div>
  </div>